.notification {
margin-righT:10px;
}

.modal-box {
  display: flex;
  align-items:center;
  justify-content:space-between;
  box-shadow: 0px 0px 10px #e50914;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 20px;

}
.modal-box button {
  color: white;
  outline:none;
  border:none;
  cursor:pointer;
}
